@import "tailwindcss";
@import "flowbite/src/themes/default";
@import url('https://fonts.googleapis.com/css2?family=Savate:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');

@theme{

    --primary-color: #1c3e56;
    --secondary-color: #01e281;

    --bg-primary-color: #1c3e56;
    --bg-secondary-color: #01e281;

    --font-primary: "Baloo Bhaijaan 2", serif;
}

.bg-img{

    background-color: #f0faf1;
    background-size: cover;
}

/* #sauce-img{

    background: url("../assets/sauces-removebg.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 10rem;
} */